*.pyc
.DS_Store
.esphome/
.venv/
__pycache__/
docs/f1-tracker.ota.bin
secrets.yaml
test_birthday
test_champ
test_display
test_json
test_state
test_team
test_watch
tests/test_m1
tools/.cache/
test_extras
test_net
test_rollover
*.dSYM/
test_boot
test_sun
test_update
REQUIREMENTS.private.md
tests/.tjpgd/
tests/test_jpg
tests/test_anim
